{% extends "Master/MenuTemplate.html.twig" %}

{% block navbarContentRight %}
    {{ parent() }}
    {% set pageData = fsc.getPageData() %}
    <li class="nav-item dropdown" title="{{ i18n.trans('customize') }}">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-wrench fa-fw" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            {% for viewName, view in fsc.views %}
                <a class="dropdown-item" href="EditPageOption?code={{ viewName }}&url={{ view.model.url() | url_encode }}">
                    <i class="{{ view.icon }} fa-fw" aria-hidden="true"></i> {{ view.title }}
                </a>
            {% endfor %}
        </div>
    </li>
{% endblock %}

{% block bodyHeaderOptions %}
    {{ parent() }}
    <ul class="nav nav-tabs d-print-none" id="mainTabs" role="tablist">
        {% for viewName, view in fsc.views %}
            <li class="nav-item">
                {% set active = (viewName == fsc.active) ? ' active' : '' %}
                <a href="#{{ viewName }}" class="nav-link{{ active }}" data-toggle="tab" role="tab" aria-controls="{{ viewName }}">
                    <i class="{{ view.icon }} fa-fw" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline-block">{{ view.title }}</span>
                    {% if view.count > 0 %}<span class="badge badge-secondary">{{ fsc.toolBox().numbers().format(view.count, 0) }}</span>{% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="tab-content pt-3" id="mainTabsContent">
        {% for viewName, view in fsc.views %}
            {% set active = (viewName == fsc.active) ? ' show active' : '' %}
            <div class="tab-pane fade{{ active }}" id="{{ viewName }}" role="tabpanel">
                {% do fsc.setCurrentView(viewName) %}
                {{ include(view.template) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .bg-header {
            background-color: #FAFBFC;
        }
    </style>
{% endblock %}